
section {
    background-image:url("../../assets/OtherImages/anniversary-beautiful-birthday-433527.jpg");  
    background-size: cover;
    background-attachment: fixed; 
    width: 100%;
    margin:0 auto; 
} 