
  <mat-toolbar class="mainClass " color="primary">
    <mat-toolbar-row class="row">
      <mat-card-header class="col-sm-6">
      <h1 id="span"> Bake My Cake Bakery </h1>
      <span class="example-spacer"></span>
      </mat-card-header>
       <mat-card-actions class="col-sm-6 ps-5 d-inline-flex flex-row mb-3">
        <div class="login ps-5 "> 
          <mat-label id="labelAdmin" style="font-size: 0.8em;">Admin Login</mat-label>
          <mat-icon routerLink="HeadTologinPage" class="icon">login</mat-icon>
         </div>
          <div class="ps-5">
         <mat-label id="labelAdmin" style="font-size: 0.8em; ">Home Page</mat-label>
         <mat-icon routerLink="home" id="home">home</mat-icon>
         </div>
      </mat-card-actions>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-toolbar class="headerComp">
        <mat-toolbar-row>
         <marquee behavior="alternate" id="headerComp1"><h1>Delivery within 2 Hr</h1></marquee>
       </mat-toolbar-row>
</mat-toolbar>  
